* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/gif\ cor.gif);
    font: normal 20pt italic; 
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center right;

    text-align: center;
    flex-wrap: wrap;
}

*body {
    font-family: "inter", sans-serif;
    line-height: 50%;
}

header {
    padding-top: 1px;
    border-radius: 50%;
}

section {
    border-radius: 25px;
    padding: 15px;
    width: 700px;
    box-shadow: 5px 5px 10px rgb(58, 44, 44);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.initial {
    gap: 10x;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

section ul li {
transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

.initial img {
    width: 90px;
}

.contact img {
    width: 90px;
    border-radius: 30%;
}

header div {
    animation: fromTop .10s backwards;
}

main section {
    animation: fromBottom .9s backwards;
}

main section:nth-child(2) {
    animation-delay: .5s;
}

main section:nth-child(3) {
    animation-delay: .9s;
}

@media(max-width: 920px) {
    .initial {
        flex-wrap: wrap;
    }
    .contact{
        flex-wrap: wrap;
    }
}

@media (max-width: 380px) {
    .initial {
        flex-direction: column;
    }
    .contact {
        margin: 5px 0px 5px 0px;
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 200px) {
    .initial {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact {
        margin: 5px 0px 5px 0px;
        width: 100%;
        flex-direction: column;
    }
}


@keyframes fromTop {
    

    from{
        opacity: 0;
        transform: translateY(-110px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    
    from{
        opacity: 0;
        transform: translateY(90px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

