* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/gif\ cor.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: rgb(36, 30, 30);
}

body * {
    font-family: "inter", sans-serif;
    line-height: 130%;
}

header {
    padding-top: 32px;
    height: 250px;
}

header div {
    text-align: center;
    width: 280px;
    margin: auto;

    display: flex;
}

header img {
    width: 120px;
    border-radius: 50%;
    border: 4px;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

    display: grid;
    gap: 24px;

    margin-top: 32px;
}

section {
    color: white;
    border-radius: 10px;
    padding-top: 4px;
    box-shadow: 5px 5px 10px rgb(15, 13, 13);
}

section div {
    background-color: #7647ec;
    padding: 25px;
    padding-top: 24px;
    border-radius: 8px;
}

section ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 24px;
}

section ul li {
transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

.initial img {
    width: 90px;
    border-radius: 8px;
}

.contact img {
    width: 90px;
    border-radius: 30%;
}

header div {
    animation: fromTop .10s backwards;
}

main section {
    animation: fromBottom .9s backwards;
}

main section:nth-child(2) {
    animation-delay: .5s;
}

main section:nth-child(3) {
    animation-delay: .9s;
}


@keyframes fromTop {
    

    from{
        opacity: 0;
        transform: translateY(-110px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    
    from{
        opacity: 0;
        transform: translateY(90px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}