* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/gif\ cor.gif);
    font: normal 20pt italic; 
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121214;
    text-align: center;
}

*body {
    font-family: "inter", sans-serif;
    line-height: 50%;
}

header {
    padding-top: 1px;
    height: 250px;
    border-radius: 50%;
}

section {
    border-radius: 25px;
    padding: 15px;
    width: 700px;
    box-shadow: 5px 5px 10px rgb(58, 44, 44);
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.initial {
    gap: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}